body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.HEADER {
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 5px 8px 0px rgba(34, 60, 80, 0.2);
}

footer {
  padding: 10px 0;
  text-align: center;
  background: #ededed;
}

::-webkit-scrollbar {
  width: 10px;
  // &-track {
  // background: var(--bg-dark-theme);
  // }
  &-thumb {
    border-radius: 5px;
    background: #6c6c6c;

    &:hover {
      background: #5a5a5a;
    }
    &:active {
      background: #4a4a4a;
    }
  }
}

.App {
  padding: 20px 15px 50px 15px;
  min-height: calc(100vh - 50px - 100px);
}

// .auth {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
// }

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.price_tag {
  // margin: 0;
  padding: 4px 8px;
  border-radius: 7px;
  background: rgb(71, 223, 0);
  display: inline-block;
}

.car_info {
  display: flex;
  justify-content: center;
  &_parent {
    margin-left: 2%;
  }
  margin-top: 20px;
  .image {
    width: 40%;
    border-radius: 10px;
  }
  h1 {
    margin: 10px 0;
  }
  .price_tag {
    margin: 0 0 10px !important;
  }
}

.form_tooltip {
  padding: 0;
  span {
    color: white;
    // .ant-typography-copy {
    //   color: #1677ff !important;
    // }
  }
}

@media (max-width: 980px) {
  .car_info {
    flex-direction: column;
    &_parent {
      margin-left: 0;
      &_title {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .price_tag {
          margin: 0 !important;
        }
      }
    }
    .image {
      height: 300px;
      width: 100%;
    }
  }
}
@media (max-width: 550px) {
  .car_info_parent {
    &_title {
      flex-direction: column;
      margin-bottom: 20px;
    }
  }
}
